API_ID=37329529
API_HASH=1357d840a831221269af304e91c27c83
BOT_TOKEN=8472287791:AAEKJPXLNIMSAjg4vW1KSoEipfJ8n_NerSc
LOGGER_ID=-1003914968903
MONGO_DB_URI=mongodb+srv://unfamed_aadi:Aad123456788@cluster0.1skcegg.mongodb.net/?appName=Cluster0
OWNER_ID=7512919724
STRING_SESSION=BQI5mnkAi5R-BZf21s6NihS0nfsl2KOcqcJFfpCwT1b1_qZiXfjDbw8CP2u-APkjQ1qXZ4jSoyEtHbKQceYgrd_1YTCMRg2g-B9Y7BnSN3ltZ9cAdsxMEHQsPD23f7wJX2wFrkz6NwxhP-xBtVZj0FhSdOmR-Ee9lP6yVW9J_PwdR08MX5dTLe_TSX3CAb42VKRHQPpVj9CHORfI0n8p2OWDczbSB84DNIbJe8xINdL5QKQuTxHdrB8Ln_os1-u6x2rh8JxZLUWTzhK3ICmYHrPvOXAgF3yoxUp7FWgy1P7ugcaS8O2i1BKS9FWYhsqyMKaRYSNkrz0rDGk3cZGvukzgabjx6gAAAAH2Gv-gAA-YJCiiHA_gYctjT_Ku0ttqnrdOtiYJiJ3Tgvlx1M9vzNMRktRxJBc5k2kTFsc1P8O8n76VyqhcQsI2mOzJqFOJmf69z9HWf196KLPky1Uz_fh9ubDwlDYMIupjXDf6jW2nnHQWRRbIdEUi1a2NfBV9-NXUgkJAiG4gYEFe_-FQCrqFW-n0ezLw2oV51FbDkVpTHg2uyzkCBiqsjE7Q_d54e0TzPWndwHKmc_6dVPJlJPT4sOko2rRudd_s-b3zbgAAAAG_zg6sAA
